<div class="menu-inner">
	<div class="menu-banner">
		<div class="menu-title">
			<h1 class="menu-title-inner">{{{title}}}</h1>
		</div>
		<div class="menu-body">
			<div class="menu-body-inner">
				{{{body}}}
			</div>
		</div>
	</div>

	<div class="menu-items">
		<div class="menu-items-inner">
			
		</div>
	</div>


</div>