<div class="menu-item-inner">

	<div class="menu-item-title">

		<h2 class="menu-item-title-inner">{{{title}}}</h2>

	</div>

	<div class="menu-item-graphic">

		<img class="menu-item-graphic-inner" src="{{graphic.src}}"/>

	</div>

	<div class="menu-item-overlay">

		<div class="menu-item-overlay-inner"> 

			<div class="menu-item-body">
				<div class="menu-item-body-inner">
					{{{body}}}
				</div>
			</div>

			<div class="menu-item-view">
				<div class="menu-item-view-inner">
					{{{linkText}}}
				</div>
			</div>

		</div>
	</div>
</div>